body {
background-color: DarkSeaGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

h1 {font-size: 40px;
letter-spacing: 4px;
font-family: fantasy;
font-style: normal;
color: LightPink;
margin-top: 70px;}

button {background-color: Plum;
margin: 40px;
font-family: fantasy;
padding: 15px 32px;
text-align: center;
}

p {color: green;
  font-size: 30px;
  font-family:fantasy;
  padding: 50px;
  background: MediumVioletRed;

 }

.inputSection {
margin: : 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
widht: inherit;
display: flex;
flex-direction: column;
margin: inherit;

}

input {
  margin-top: 50px
}


.resultSection {

height: 200px;
width: 200px;
padding: 15px;
font-size: 40px;
font-family: fantasy;
background-color: green;
display: flex;
justify-content: center;
align-items: flex-start;



}
